In [3]:
hello = 'Hello World'

In [4]:
hello

'Hello World'

In [5]:
12

12

In [6]:
n=25

In [10]:
n+12

37

In [11]:
a = n-12

In [12]:
a

13

In [13]:
miles = 28.25

In [14]:
miles/a

2.173076923076923

In [19]:
#String Concatenation

a= 'Hello'
b=3
c= 'World'

In [18]:
a*b

'HelloHelloHello'

In [21]:
a+c

'HelloWorld'

In [26]:
#Type() function
#Type() function is used to return the type of the variable
type(25)

int

In [28]:
type('abc')

str

In [29]:
#int() function
#the() int function is used to convert any value into integer

In [30]:
int(25.50)

25

In [33]:
int('Hello')

#Gives a error because value provided is a string

ValueError: invalid literal for int() with base 10: 'Hello'

In [34]:
#Likewise we also have functions to convert values into float

In [35]:
import math

In [37]:
math

In [40]:
degrees = 45
radians = degrees / 180.0 * math.pi
math.sin(radians)

0.7071067811865475

In [41]:
degrees = 45
radians = degrees * (180.0 * math.pi)
math.sin(radians)

1.3528271206989746e-12

In [43]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print("I sleep all night and I work all day.")

In [44]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [45]:
def print_lyricss():
    print("I'm a @@@@@, and I'm not okay.")
    print("I sleep all day and I work all night.")

In [47]:
print_lyricss()

I'm a @@@@@, and I'm not okay.
I sleep all day and I work all night.

In [48]:
type(print_lyricss)

function

In [50]:
def repeat_lyricss():
    print_lyricss()
    print_lyrics()

In [52]:
repeat_lyricss()

I'm a @@@@@, and I'm not okay.
I sleep all day and I work all night.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [54]:
def print_twice(bruce):
    print(bruce)
    print(bruce)

In [55]:
 print_twice(23)

23
23

In [59]:
def cat_twice(part1,part2):
    cat_twice = part1*part2
    print_twice(cat_twice)

In [60]:
cat_twice('chakri',3)

chakrichakrichakri
chakrichakrichakri

In [63]:
#modulus operator is used to divide two numbers and returns the remainder 
minutes = 150
remainder = minutes % 60
remainder

30

In [66]:
#Boolean Expressions
a= 25
b = 35
a==b

False

In [67]:
a > b

False

In [68]:
a<b

True

In [69]:
a != b

True

In [70]:
a >= b

False

In [71]:
a<=b

True

In [73]:
True and False

False

In [74]:
True or False

True

In [79]:
x= 25
if x>=0:
    'x is positive'

In [82]:
x= -25
if x<=0:
    'x is negative'

In [84]:
if x % 2 == 0:
    print('x is even')
else:
    print('x is odd')

x is odd

In [87]:
if (x*3) %2 !=0:
       print('x is even')
else:
    print('x is odd')

x is even

In [108]:
x= 30
y=25
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x is greater than y

In [113]:
def countdown(n):
    if n <= 0:
        print('Blastoff!')
    else:
        print(n)
        countdown(n-1)

In [114]:
countdown(0)

Blastoff!

In [115]:
countdown(4)

4
3
2
1
Blastoff!

In [119]:
#while
def countdown(n):
    while n > 0:
        print(n)
        n = n - 1
        print('Blastoff!')

In [123]:
countdown(1)

1
Blastoff!